h1{
    border-width:5px;
    border-top-style: double;
    border-right-style: dotted;
    border-bottom-style: solid;
    border-left-style:dashed;
    border-color: rgb(11, 95, 168);
}

h2{
    border: medium dotted rgb(6, 94, 44);
    border-radius:5px;
    margin: 25px;
}

h3{
    width:300px;
    border-style:groove; 
    border-color:black red blue yellow;
    margin:auto;
}

h4{
    border: thick dashed rgb(255, 0, 0);
    text-align:center;
    width:300px;
    padding: 50px;
    box-sizing: border-box;
}

h5{
    width:300px;
    height:50%;
    border:5px solid green;
    background-color: brown;
    padding:50px; 
    margin:20px;
    box-sizing: border-box; 
}